{% extends "home.html" %}
{% block content %}
<h2>Contratos</h2>
<ul>
    {% for contrato in contratos %}
    <li>
        <a href="{{ contrato.arquivo.url }}" target="_blank">{{ contrato.tipo }} - {{ contrato.usuario.username }}</a>
        <a href="{% url 'editar_contrato' contrato.id %}">Editar</a>
        <a href="{% url 'excluir_contrato' contrato.id %}">Excluir</a>
    </li>
{% empty %}
    <p>Nenhum contrato encontrado.</p>
{% endfor %}
</ul>

{% if user.username == 'administrador' %}
    <a href="{% url 'adicionar_contrato' %}">Adicionar Contrato</a>
{% endif %}
{% endblock %}
