{% extends "home.html" %}
{% block content %}
<h2>Contratos</h2>
<ul>
    {% for contrato in contratos %}
        <li>
            <strong>Nome:</strong> {{ contrato.nome }} <br>
            <strong>Tipo:</strong> {{ contrato.tipo }} <br>
            <strong>Data:</strong> {{ contrato.data_criacao|date:"d/m/Y H:i" }} <br>
            <strong>Proprietário:</strong> {{ contrato.usuario.username }} <br>  <!-- Adiciona o nome do usuário -->
            <a href="{{ contrato.arquivo.url }}" target="_blank">Ver Arquivo</a>
            <a href="{% url 'editar_contrato' contrato.id %}">Editar</a>
            <a href="{% url 'excluir_contrato' contrato.id %}">Excluir</a>
        </li>
    {% empty %}
        <li>Nenhum contrato disponível.</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <a href="{% url 'adicionar_contrato' %}">Adicionar Contrato</a>
{% endif %}
{% endblock %}
