{% for etapa, ordens_etapa in ordens_por_etapa.items %}
    <h4>Etapa {{ etapa }}</h4>
    {% if ordens_etapa %}
        <ul>
            {% for ordem in ordens_etapa %}
                <li>
                    <strong>Nome da Ordem:</strong> {{ ordem.nome }} <br>
                    <strong>Tipo de Contrato:</strong> {{ ordem.tipo }} <br>
                    <strong>Status:</strong> {{ ordem.status }} <br>
                    <strong>Data de Criação:</strong> {{ ordem.data_criacao|date:"d/m/Y" }} <br>

                    {% if user.username == 'administrador' %}
                        <a href="{% url 'editar_ordem_contrato' ordem.id %}">Editar</a>
                        <a href="{% url 'excluir_ordem_contrato' ordem.id %}" onclick="return confirmarExclusao()">Excluir</a>
                    {% else %}
                        <a href="{% url 'visualizar_ordem_contrato' ordem.id %}">Visualizar</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma ordem encontrada nesta etapa.</p>
    {% endif %}
{% endfor %}
